{
  "env": {
    "browser": true
  },
  "rules": {
    "nomen": true,
    "comma-dangle": [
      "error",
      {
        "functions": "never",
        "objects": "ignore",
        "imports": "ignore"
      }
    ]
  },
  "extends": "airbnb",
  "parser": "babel-eslint"
}